<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="background-grey">
    <!--navigate-->
    <nav class="ui inverted attached segment pad-nav shadow-nav">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui green header item">Carbon Intensity Analysis</h2>
                <a href="home" class="active item"><i class="home icon"></i>Home</a>
                <a href="search" class="item"><i class="search link icon"></i>Search</a>
                <a href="analysis" class="item"><i class="chart line icon"></i>Analysis</a>
            </div>
        </div>
    </nav>

    <div class="ui container">
        <div class="ui attached padded segment ">
            <br>
            <div class="background-grey">
                <br>
                <h1 class="ui center aligned green header">About Carbon Intensity</h1>
                <div id="content" class="pad-around">
                    <div class=" pad-around text-bkgcolor">
                        <blockquote>
                            <h3>This is the official carbon intensity data for Great Britain.
                                The carbon intensity includes carbon dioxide emissions related to electricity generation only.
                                Includes emissions from all large metered power stations, interconnector imports,
                                transmission and distribution losses, and accounts for national electricity demand, embedded wind and solar generation.
                            </h3>
                        </blockquote>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui attached segment" align="center">
                <img src="../static/images/homepic.png" alt="" class="ui image" style="width: 1000px;height:500px">
            </div>
        </div>
    </div>

    <br>
    <br>

    <!--footer-->
    <footer class="ui inverted vertical segment pad-footer">
        <div class="ui center aligned container">
            <h2 class="ui green header item">Carbon Intensity Analysis</h2>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">DSCI 551 project</p>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">© Created by Dengjia Zhang in spring 2021.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>